.nav__responsive-list {
  display: none;
}
.nav {
  background: #26a;
}
.nav__item {
  display: inline-block;
  padding: 12px;
  color: #fff;
}
.nav__item a,
.nav__responsive-item a {
  color: #fff;
  text-decoration: none;
}
.nav__item i,
.nav__responsive-item i {
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}
.nav__item:hover > a,
.nav__item:hover {
  color: #bbb;
}
.nav__responsive-button-container {
  position: absolute;
  width: 100%;
  font-size: 25px;
  margin-top: -64px;
}
.nav__responsive-button {
  background: #69c;
  padding: 6px 20px;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .nav__list {
    display: none;
  }
  .nav {
    height: 37px;
    width: 100%;
  }
  .nav__responsive-list {
    display: block;
    position: absolute;
    width: 100%;
    background: #9bf;
    height: 100%;
    margin-top: 37px;
    padding-top: 27px;
  }
  .nav__responsive-item {
    box-sizing: border-box;
    width: 100%;
    padding: 9px 20px;
  }
  .nav__responsive-item i {
    width: 30px;
    text-align: center;
    color: #016;
  }
  .nav__responsive-item a {
    color: #016;
  }
}
